<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/list.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= JSON.stringify(users) %>
    <div class="ranking-container">
        <% for (var i = 0; i < users.length; i++) { %>
            <div class="user-box">
                <% if (i == 0) { %>
                    <span class="crown">👑</span>
                <% } else if (i == 1) { %>
                    <span class="crown">👑</span>
                <% } else if (i == 2) { %>
                    <span class="crown">👑</span>
                <% } %>
                <h2 class="user-name"><%= users[i].name %></h2>
                <p class="user-id"><%= users[i].studentId %></p>
                <p class="user-score"><%= users[i].score %></p>
            </div>
            
        <% } %> 
    </div>
    
</body>
</html>